.apple {
    text-align: center;
    padding: 25px;
}
form {
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border: 1px solid #18a5cf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  body {
    background-color: rgb(168, 236, 129);
  }

  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
