.nokiya {
    text-align: center;
    padding: 25px;
}
form {
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }