.redmi {
    text-align: center;
    padding: 20px;
}
form {
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }